/* SeatSelection.module.css */

.seatSelection {
    /* margin: 20px; */

    max-width: 1000px;
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Вертикальное выравнивание */
    align-items: left; /* Центрирование по горизонтали */
    overflow-x: auto;
}

.row {
    display: flex; /* Используем Flexbox для размещения мест в строку */
    align-items: center; /* Вертикальное выравнивание по центру */
    margin-bottom: 10px; /* Отступ между рядами */
}

.rowLabel {
    min-width: 80px;
}

.seatButton {
    padding: 1px;
  
    margin-right: 5px; /* Отступ между кнопками */
    cursor: pointer;
    background-color: #007bff; /* Цвет по умолчанию (синий) */
    border: 1px solid #ccc; /* Граница кнопки */
    border-radius: 4px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    color: white; /* Цвет текста по умолчанию */
    width: 30px; 
    min-width: 30px;
    height: 30px; 

}

.seatButton:hover:not(:disabled) {
    background-color: #0056b3; 
}

.seatButton:disabled {
    background-color: #6c757d;
    cursor: not-allowed; 
}

.seatButton.selected {
    background-color: #28a745; 
}

.seatButton.userBooked{
    background-color: #ffc107; 
}

.confirmButton {
    margin-top: 20px; 
    padding: 10px 20px; 
    cursor: pointer;
}
.confirmButton:disabled{
    background-color: #6c757d; 
    cursor: not-allowed; 
}