.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    max-width: 800px;
    margin: 0 auto; /* Центрирование по горизонтали */
  }
  
  .title {
    color: #61dafb;
    font-size: 24px;
    text-decoration: none; 

  }
  .title:hover{
    color: #21a1f1;
    text-decoration: none;
  }
  .title:focus {
    color: #61dafb;
    text-decoration: none; /* Убираем подчеркивание */
    
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-right: 20px;
    font-weight: bold;
  }
  
  .button {
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #21a1f1;
    color: #282c34;
    text-decoration: none;
  }
  .button:focus {
    background-color: #61dafb;
    color: #282c34;
    text-decoration: none;
  }